:host {
  table {
    width: 100%;
  }

  tr.detail-row {
    height: 0;
  }

  tr.expand-table-row {
    cursor: pointer;
  }

  tr.expand-table-row.second-row {
    background-color: rgba(238, 236, 236, 0.904);
  }

  tr.expand-table-row:not(.expanded-row):hover {
    background: whitesmoke;
  }

  tr.expand-table-row:not(.expanded-row):active {
    background: #efefef;
  }

  .expand-table-row td {
    border-bottom-width: 0;
  }

  .row-detail-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .row-detail-wrapper-expanded {
    grid-template-rows: 1fr;
  }

  .row-detail {
    min-height: 0;
    width: 100%;
  }

  .toggle-button mat-icon {
    transition: transform 225ms ease-in-out;
  }

  .toggle-button-expanded mat-icon {
    transform: rotate(180deg);
  }
}
