:host {
  .element-row {
    cursor: pointer;
  }

  .detail-row {
    height: 0;
  }

  .element-detail-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 225ms ease-in-out;
  }

  .element-detail-wrapper-expanded {
    grid-template-rows: 1fr;
  }

  .element-detail {
    min-height: 0;
    padding: 0 24px;
  }

  .element-detail-wrapper-expanded .element-detail {
    padding: 16px 24px;
  }

  .toggle-button mat-icon {
    transition: transform 225ms ease-in-out;
  }

  .toggle-button-expanded mat-icon {
    transform: rotate(180deg);
  }
}
