.expand-row {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  .expand-col {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 2rem 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .expand-label {
    font-weight: bold;
    font-size: small;
  }
}

.no-data-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
