<div>
  <header></header>
  @if (!queryService.loading() && dataSource.data.length === 0) {
    <div class="no-data-container">
      <p>{{ noDataMessage }}</p>
    </div>
  } @else if (!queryService.loading()) {
    <app-table
      [dataSource]="dataSource"
      [columns]="columnsToDisplay"
      sortActive="score"
      sortDirection="asc"
      [detailTemplate]="expandedDetail"
      (sortChange)="onSortChange($event)"
    >
    </app-table>

    <ng-template #expandedDetail let-element>
      <div class="expand-row">
        @for (field of expandedFields; track field) {
          <div class="expand-col">
            <h5>{{ field.label }}</h5>
            <div>
              @if (field.key === 'url') {
                <a [href]="element[field.key]" target="_blank" rel="noopener">
                  {{ element[field.key] || '-' }}
                </a>
              } @else {
                {{ element[field.key] ?? 0 }}
              }
            </div>
          </div>
        }
      </div>
      <!-- <app-expanded-detail [element]="element" [fields]="expandedFields"> </app-expanded-detail> -->
    </ng-template>

    <app-paginator
      [length]="queryService.response()?.total ?? 0"
      [pageSize]="pageSize()"
      [pageIndex]="pageIndex()"
      [showFirstLastButtons]="showFirstLastButtons()"
      [pageSizeOptions]="pageSizeOptions"
      (pageChange)="onPageChange($event)"
    ></app-paginator>
  }
</div>
